{
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "prettier", "plugin:security/recommended", "plugin:import/errors", "plugin:import/warnings"],
  "plugins": ["prettier", "security"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "rules": {
    "no-console": "error",
    "prettier/prettier": "error",
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error"
  }
}
